body{
	background: url("http://41.media.tumblr.com/751b9917a2f8589fa99af5f26189fa29/tumblr_n6r8lwa8Es1r3a827o1_1280.jpg" ) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}
.container{
	padding-top: 10%;

}
label{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}
h1{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}