<!DOCTYPE html>
<html>
	<head>
		<title>Adventure Time</title>
		<link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="../public/css/create.css">
	</head>
<body>
	<div class= "container">
	  <div class = "entry">
		<div class = "row">
			<h1>Start your adventure</h1>
		</div>
		<div class = "row">
			<div class = "col-md-offset-4 col-md-4">

			<div>

				<form>
					  <div class="form-group" >
					    <label for="exampleInputEmail1">Username</label>
					    <input type="string" class="form-control" id="username">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control" id="password">
					  </div>
					  <button type="submit" id="submitButton" class="btn btn-default">Sign Up</button>
				</form>
			</div>
		</div>
	  </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../public/js/app.js"></script>
</body>
</html>
