<!DOCTYPE html>
<html>
	<head>
		<title>Adventure Tyme</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
     	<link rel="stylesheet" href="css/interface.css">
     	<link href='https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
	</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       			   <span class="sr-only">Toggle navigation</span>
      			  <span class="icon-bar"></span>
    		      <span class="icon-bar"></span>
      			  <span class="icon-bar"></span>
    			  </button>
     			  <a class="navbar-brand" href="#">Adventure Time.</a>
            </div>
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav bar navbar-nav navbar-right">
                  <li>
                  	<a href="#First" data-toggle="tab">Trip Intinerary</a>
                  </li>
                  <li>
                  	<a href="#Second" data-toggle="tab">Budget Analysis</a>
                  </li>
                  <li>
                  	<a href="#Third" data-toggle="tab">Friends</a>
                  </li>
                  <li>
                  	<a href="#Fourth" data-toggle="tab">Settings</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="tab-content content">
             <div class="tab-pane active" id="First" >
              <h1>Trip Planner</h1>
                <div class ="event">
                  <form class="form-inline">
                     <div class="form-group">
                         <label class="sr-only" for="exampleInputEmail3">event</label>
                         <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Event">
                    </div>
                     <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">estimated cost</label>
                         <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Estimated cost">
                    </div>
                     <button type="submit" class="btn btn-default">add</button>
                </form>
                </div>
              <div class = "container x">
                <div class = "row">
                  <div class = "col-md-offset-2 col-md-6">
                <table class = "table">
                  <tr>
                    <td>8:30</td>
                    <td>Event 1</td> 
                    <td>80$</td>
                  </tr>
                  <tr>
                    <td>10:00</td>
                    <td>Event 2</td> 
                    <td>94$</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
             </div>
             <div class="tab-pane" id="Second" >
                 <p> Second Content </p>
             </div>
             <div class="tab-pane" id="Third" >
                 <p> Third Content </p>
             </div>
             <div class="tab-pane" id="Fourth" >
                 <p> Fourth Content </p>
             </div>
    </div>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/app.js"></script>
</body>
</html>