html {
	background: url("http://41.media.tumblr.com/751b9917a2f8589fa99af5f26189fa29/tumblr_n6r8lwa8Es1r3a827o1_1280.jpg" ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
 }
 .top{
 	bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
 }

.center{
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;

}
.center h1{ 
	font-family: 'Fjalla One', sans-serif;
	font-size: 14vmin;
	padding-top: 0px;
	color: white;

}
.center h4{
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
.text{
	padding-top: 40px;
}
.center form{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 170px;
	background-color: rgba(0,0,0, 0.4);
	border-radius: 20px;
}

